<div ng-show="pagedItems[currentPage]">
    <div class="well" ng-repeat="news in pagedItems[currentPage]">
        <div class="media-body">
            <h4 class="media-heading" ng-bind="news.title"></h4>
            <div ng-bind-html="news.body|unsafeHtml"></div>
            <div><p><a ui-sref="viewNews({id:news.id})">Read more <i class="fa fa-long-arrow-right"></i></a></p></div>

            <ul class="list-inline list-unstyled">
                <li><span><i class="fa fa-calendar"></i> Posted at <span ng-bind="news.created_at|dateFromString:'medium'"></span></span></li>
                <li>|</li>
                <li><a ui-sref="viewNews({id:news.id})"><span><i class="fa fa-comment"></i> <span ng-bind="news.comments.length"></span> comments</span></a></li>
            </ul>
        </div>
    </div>
    <div class="pagination pull-right">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage === 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n === currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage === pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>

<div ng-hide="pagedItems[currentPage]">
    <p>No news posted yet.</p>
</div>
